html,body{
    height: 100%
}


.wrap
{
min-height: 100%;
}

#main {
	margin-top: 5em;
}

label {
	margin-top: 20px;
	margin-bottom: 0px;
}

.signup {
	padding-left: 10px;
}

.centered-text {
	text-align: center;
}

ul
{
    list-style-type: none;
}

ul.footer{
  margin-top:10px;
  text-align:center;
}

ul.footer li{
 display:inline-block;
 }


#footer{

 bottom: -50px;
 height: 50px;
 left: 0;
 position: absolute;
 right: 0;
}

.captcha-image {
	background-color: #333378;
}
