html,body{
    height: 100%
}

#landing-top {
	width: 100%;
	opacity: 75%;
	left: 0;
}

p.landing-title {
	margin-top: 30px;
	font-size: xx-large;
	font-weight: 900;	
	font-family: 'Alegreya SC', serif;
	line-height: 32px;
}

p.landing-text {
	margin-top: 30px;
	font-size: large;
	font-weight: 400;	
	font-family: 'Alegreya SC', serif;
	line-height: 22px;
}

#horizontal-divider {
	top: 474px;
	left: 0;
	width: 100%;
	height: 10px;
	opacity: 0.4;
	background-color: #aaa;
	margin-bottom: 30px;	
}


.wrap
{
min-height: 100%;
}

#main {
	margin-top: 5em;
	padding-bottom:150px;
}

label {
	margin-top: 20px;
	margin-bottom: 0px;
}

.signup {
	padding-left: 10px;
}

.centered-text {
	text-align: center;
}

ul
{
    list-style-type: none;
}

ul.footer{
  margin-top:10px;
  text-align:center;
}

ul.footer li{
 display:inline-block;
 }


.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.captcha-image {
}

.form {
	margin:0 auto;
	float:none;
}
