#{extends 'main.html' /}
#{set title:'About Us' /}

<div class="row">
	<div class="span12">

		<div class="hero">
			<p>
			<h4 class="centered-text">ApplicantChatter is designed to help <em>good companies</em> hire <em>good people</em>.</h4>
			<h4 class="centered-text">ApplicantChatter is designed to help <em>good people</em> join <em>good companies</em>.</h4>
			</p>
			<p class="centered-text"> 
			<em>ApplicantChatter is the product of David Rudder.  It is not officially
			associated with Door to Door Organics.</em>
			</p>
		</div>
	</div>
	<div class="span12">
		<div class="hero">
		<h3>A Good Company</h3>
		<p>ApplicantChatter was founded by me, Door to Door Organics' employee David Rudder.  I am the Manager
		of Engineering and IT.  We have always found it a little tough to attract good software development, QA, IT
		and design talent because</p>
		<ul>
		<li>We're in Colorado, which does not have the applicant pool of Silicon Valley</li>
		<li>We're a small company without the brand recognition of VC-funded tech companies</li>
		<li>We sell food, mostly produce.  Not a typically hot segment for tech</li>
		</ul>
		<p>But, Door to Door is a great place to work!</p>
		<ul>
		<li>We're in Colorado, which is an <em>awesome</em> place to live</li>
		<li>We're small.  We have no politics.  Our "work-life balance" actually exists.</li>
		<li>We're in an incredible, nascent market.  Food pervades our lives and we stand with a new wave
		of companies who are making food better.  Better tasting, better for you, and better for the community.</li>
		</ul>
		<p>But, every job on the market advertises how awesome a company they are.  How do you prove that 
		you actually <em>are</em> a great place to work?</p>
		</div>
	</div>
	
	<div class="span12">
		<div class="hero">
		<h3>"If they could only talk to us!"</h3>
		<p>
		Our job postings don't express our company culture.  No block of text ever will.  But, <em>talking</em>
		to us certainly does!  
		</p>
		<p>
		ApplicantChatter was inspired by a post on <a href="//news.ycombinator.com">Hacker News</a>.  In it, a group
		of people were talking about an application to do basically the same thing, but it had tighter controls and 
		no working code.  The basic idea seemed very good.  I knew I could build it easily if I made the rules less
		complicated.
		</p>
		<p>The idea was to simply allow anonymous people to send emails to me.  I would either answer them or farm 
		them out to the team.  I trust my team, and they trust me, and so extreme privacy/anonymity code was 
		unnecessary.  Besides, I could always wipe out the database, if necessary.  </p>
		<p>Some people will probably ask if the team is worried about repercussions from saying the wrong 
		thing.  <em>The whole point of this is to address how difficult it is to hire good people.  Why would I risk 
		losing them over some stupid internet forum app?</em>   I wouldn't.  We have a rule in our department; "don't 
		be a jerk to each other".  Everyone can assume we're all doing this for good reasons.</p>
		</div>
	</div>
	
	<div class="span12">
		<div class="hero">
		<h3>A Project Born</h3>
		<p>
		Door to Door Organics allows its employees to have side projects on personal time.  Encourages it.  
		Under the condition that it doesn't compete (which roughly translates into "don't do anything with food").  
		So, I didn't have to hide anything.  I asked several people if they thought this would be useful.  My VP, 
		the Director of HR, my team, the Director of Marketing (who has a similar problem). Everyone seemed to think it was worth a try.
		</p>
		<p>So, I did it.  Enjoy.</p>
	</div>
	
</div>