#{extends 'main.html' /}
#{set title:'Frequently Asked Questions' /}

<div class="row">
	<div class="span12">
		<div class="hero">
		<h3>General</h3>
		<h5>How much does ApplicantChatter cost?</h5>
		<p>It's free.</p>
		
		<h5>Free? Really?  How do you make money?</h5>
		<p>I write software and manage the engineering team for Door to Door Organics.
		This is a side project to scratch an itch.  If it gets popular, I might find 
		some way to monetize it.  But that's a long way off and not something I find fun.</p>
		<p><em>Door to Door Organics has nothing to do with this software.  They are a
		good employer and I'm doing this with their knowledge and with the hopes that
		they'll use it.  But, it's all mine and all my responsibility.</em>
		</div>
	</div>
	
	<div class="span12">
		<div class="hero">
		<h3>For Applicants</h3>
		<h5>How anonymous am I?</h5>
		<p>We keep Apache access logs, and we'll call the cops if you do anything
		really screwed up.  But, we don't post your IP address or email with the 
		question.  We don't do anything to prevent you from revealing personal details,
		so a lot of the privacy is up to you.
		</p>
		
		<h5>How do I know it's not an HR employee answering all the questions?</h5>
		<p>You don't.  If you can't figure it out from the content of the question
		you should write a new question.  Usually, it's pretty easy to tell someone
		who is in your industry.
		</p>
		
		<h5>How private is my email?</h5>
		<p>We don't publish your email and we don't sell it for spam.  It's only used 
		to send you updates.</p>
		
		<h5>What if I lose the link to the question?</h5>
		<p>Sorry, it's gone.  If you supplied an email address, we'll email you when a
		new answer is posted.  If not, you're out of luck.</p> 
		</div>
	</div>
	
	
	<div class="span12">
		<div class="hero">
		<h3>For Employers</h3>
		<h5>How do I keep my employees from posting negative answers?</h5>
		<p>You can't.  This is a tool to allow open, unfettered communication.  You 
		have to take the good with the bad.</p>
		<p>However, you can delete questions.  If the answers get out of hand, you 
		can always delete the whole question.  This will be obvious to the applicant. 
		If the applicant supplied an email, the offending answers will be emailed before 
		you can delete.</p>
		<p>A basic rule of thumb; <em>if you expect to get negative answers, don't use this
		service. </em>  And, if you're a generally good employer or manager, you should 
		be ready to discuss issues openly. No company is perfect, but the good ones own
		up to their difficulties.</p>
		
		<h5>Can't people use this for social engineering attacks?</h5>
		<p>Yep.  I understand your problem, and I'm glad that I work for a smaller company
		where we can expect the team to not be so gullible.  I don't know what to tell you
		expect that maybe ApplicantChatter isn't for you.</p>
		
		<h5>Are my questions private?</h5>
		<p>Only employees of your company can see a list of all the questions.  Anyone with the 
		link to the question can see it.  Having the link to a question doesn't give you access
		to any other question.</p>
		
		<h5>Can anyone ask me a question?</h5>
		<p>Anyone with the link to the "ask a question" page can ask as many questions as they 
		want.  Also, people will be able to find you if you go to the Settings section and check
		"Publish yourself on the Ask Page?"</p>
		</div>
	</div>
	
	
</div>