#{extends 'main.html' /}
#{set title:'The best way to connect job seekers with employees' /}

#{set 'moreScripts'}
<script>
</script>
#{/set}

#{set 'moreStyles'}
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:900,400' rel='stylesheet' type='text/css'>
#{/set}

<div class="row">
	<div id="landing-top">
	<div class="span2">
	
	</div>
	<div class="span4">
		<img src="/public/images/woman_asking_question.png">
	</div>
	<div class="span6">
		<center>
		<p class="landing-title">Attract better candidates and ensure a better team fit!<p>
		<p class="landing-text">
			ApplicantChatter is an addition to your recruitment process.
		</p>
		<p class="landing-text">
			When you signup, you get a link where applicants can post questions
			to your employees.  You also get a management screen where you can
			moderate the questions and answers.
		</p>
		<p class="landing-text">
			With ApplicantChatter, you get higher quality, better qualified applicants.
			The applicants will come into the process with fewer questions.  Your team
			will have a better fit on day one.
		</p>
		</center>
		
		<p>
		<br/>
		<div style="float: right"><p class='btn btn-info btn-large'>Sign-Up!</p></div>
		</p>
	</div>
	</div>
</div>

<div class="row">
	<div id="horizontal-divider">
	</div>
</div>

<div class="row" style="margin-top: 400px;">
	<div class="span6">
		<div class="hero">
		<h1>Companies Love Us!</h1>
		<h4>Go beyond promises in job posts.  Prove to potential employees that you
		have a great place to work!</h4>
		
		<p>By opening your employees to applicants, you're letting the applicants
		know that your advertisements are true.  By allowing employees to talk with
		applicants, both sides learn better if there is a good fit.</p>
		</div>
	</div>
	<div class="span6">
		<div class="hero">
		<h1>Job Seekers Rely on Us!</h1>
		<h4>Better employers use ApplicantChatter because they're the ones confident 
		enough to let applicants and employees communicate.</h4>
		<p>ApplicantChatter allows you, the job seeker, to ask questions directly to 
		the team you will be hired into.  You can know what the environment and team
		is like before you apply.  Since the service is anonymous, for both the
		applicant and the employee, you can trust the question and answer to be 100%
		confidential.</p>
		</strong>
		</div>
	</div>

</div>

