#{extends 'main.html' /}
#{set title:'The best way to connect job seekers with employees' /}

#{set 'moreScripts'}
<script>
</script>
#{/set}

<div class="row">
	<div class="span12">
		<div class="hero">
		<h3>
			ApplicantChatter is a website where job seekers can ask
			your current employees questions anonymously.
		</h3> 
		</div>
	</div>
	<div class="span4">
		<div class="hero">
		<h1>Companies Love Us!</h1>
		<h4>Go beyond promises in job posts.  Prove to potential employees that you
		have a great place to work!</h4>
		
		<p>By opening your employees to applicants, you're letting the applicants
		know that your advertisements are true.  By allowing employees to talk with
		applicants, both sides learn better if there is a good fit.</p>
		</div>
	</div>
	<div class="span8">
		<img src="http://a57.foxnews.com/global.fbnstatic.com/static/managed/img/fb/Sbc/entrepreneurs/660/371/Office-Workers-Planning-Small-Business.jpg?ve=1">
	</div>
	<div class="span12">
		<div class="hero">
		<h1>Job Seekers Rely on Us!</h1>
		<h4>Better employers use ApplicantChatter because they're the ones confident 
		enough to let applicants and employees communicate.</h4>
		<p>ApplicantChatter allows you, the job seeker, to ask questions directly to 
		the team you will be hired into.  You can know what the environment and team
		is like before you apply.  Since the service is anonymous, and for both the
		applicant and the employee, you can trust the question and answer to be 100%
		confidential.</p>
		</strong>
		</div>
	</div>

</div>